@page
@model CRUDForProducts.Pages.Product.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ProductCollections</h4>
<hr />
<div class="row create-content">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductCollections.Name" class="control-label"></label>
                <input asp-for="ProductCollections.Name" class="form-control" />
                <span asp-validation-for="ProductCollections.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductCollections.Category" class="control-label"></label>
                <input asp-for="ProductCollections.Category" class="form-control" />
                <span asp-validation-for="ProductCollections.Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductCollections.Quantity" class="control-label"></label>
                <input asp-for="ProductCollections.Quantity" class="form-control" />
                <span asp-validation-for="ProductCollections.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductCollections.Price" class="control-label"></label>
                <input asp-for="ProductCollections.Price" class="form-control" />
                <span asp-validation-for="ProductCollections.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductCollections.CreatedDate" class="control-label"></label>
                <input asp-for="ProductCollections.CreatedDate" class="form-control" />
                <span asp-validation-for="ProductCollections.CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group create">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-page="Index" class="btn btn-dark">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
